<nav
  class="navbar sticky-top mr-auto navbar-expand-lg navbar-light bg-light mb-2"
>
  <a routerLink="/" class="navbar-brand">Skill tree</a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    (click)="collapsed = !collapsed"
  >
    >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    [class.collapse]="collapsed"
    (window:resize)="collapsed = true"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/members">Members</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/companies">Companies</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/auth">Login/SignUp</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/community">Community</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/skills">Skills</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" (click)="onLogout()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
