<a
  style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix"
>
  <div class="row">
    <div class="col-md-8">
      <h4 class="list-group-item-heading">{{ member.name }}</h4>
      <p class="list-group-item-text">{{ member.company }}</p>
    </div>
    <span class="col-md-2">
      <img
        [src]="member.imagePath"
        alt="{{ member.name }}"
        class="img-responsive mt-2"
        style="max-height: 60px"
      />
    </span>
  </div>
</a>
