<div class="col-xs-12">
  <div
    class="btn-group"
    role="group"
    aria-label="Basic radio toggle button group"
  >
    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="skills"
      autocomplete="off"
      (click)="onSkills()"
    />
    <label class="btn btn-outline-primary" for="skills">Skills</label>

    <input
      type="radio"
      class="btn-check"
      name="btnradio"
      id="company"
      autocomplete="off"
      (click)="onCompany()"
    />
    <label class="btn btn-outline-primary" for="company">Companies</label>
  </div>
</div>

<div class="col-md-10">
  <router-outlet></router-outlet>
</div>
